{% extends "base.html" %} {% block stylesheets %} {% endblock %} {% block content %}
<div class="uk-section uk-section-muted uk-section-large">
    <div class="uk-container uk-container-medium uk-text-center">
        <h1 class='uk-heading-primary'>Scoreboard</h1>
    </div>
</div>
{% if errors %}
<div class="uk-section-primary uk-preserve-color">
    <div class="uk-container uk-container-medium uk-text-center">
        <div id='errors' class='uk-margin-top'>
            {% for error in errors %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h3 class="uk-text-center">{{ error }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %} {% if score_frozen %}
<div class="uk-section-primary">
    <div class="uk-container uk-container-medium uk-text-center">
        <div id='errors' class='uk-margin-top'>
            <h1 class="uk-text-center">Scoreboard has been frozen.</h1>
        </div>
    </div>
</div>
{% endif %} {% endif %}
<div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-medium uk-text-center">
        <div class='uk-card uk-card-secondary uk-card-hover uk-card-body uk-width-1-1@m'>
            <div id="score-graph" class='uk-margin-top'>
                <div class="uk-text-center">
                    <div uk-spinner="ratio: 10"></div>
                </div>
            </div>
        </div>
        {% if teams %}
        <div id="scoreboard" class='uk-margin'>
            <table class='uk-table uk-table-large uk-table-hover uk-table-striped'>
                <thead>
                    <tr>
                        <td class='uk-text-center uk-text-large uk-table-shrink'>Place</td>
                        <td class='uk-text-center uk-text-large'>Team</td>
                        <td class='uk-text-center uk-text-large'>Score</td>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td class="uk-text-center">{{ loop.index }}</td>
                        <td><a href="{{ request.script_root }}/team/{{ team.teamid }}">{{ team.name }}</a></td>
                        <td>{{ team.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %} {% endblock %} {% block scripts %}
<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/vendor/plotly.min.js"></script>
<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/utils.js"></script>
<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/scoreboard.js"></script>
{% endblock %}