{% extends "base.html" %} {% block stylesheets %} {% endblock %} {% block content %}
<div class="uk-section uk-section-muted uk-section-large">
    <div class="uk-container uk-container-medium uk-text-center">
        <h1 class='uk-heading-primary'>Setup</h1>
    </div>
</div>
{% if errors %}
<div class="uk-section-primary uk-preserve-color">
    <div class="uk-container uk-container-medium uk-text-center">
        <div id='errors' class='uk-margin-top'>
            {% for error in errors %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h3 class="uk-text-center">{{ error }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div>{% endif %}
<div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-small">
    	<div class='uk-flex uk-flex-center'>
        <form class='uk-form-stacked' onsubmit="disable(submit)" action="" method="POST" novalidate>
            <fieldset class="uk-fieldset">
                <input type="hidden" name="nonce" value="{{ nonce }}">
                {# This nonce is implemented specially in the route itself #}
                <div class="uk-margin">
                    <input class="uk-input uk-form-large uk-width-large@s" type="text" name="ctf_name" id="ctf_name-input" placeholder="CTF Name" />
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large uk-width-large@s" type="text" placeholder="Admin Username" name="name" id="username-input" />
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large uk-width-large@s" type="email" name="email" id="email-input" placeholder="Admin Email" />
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large uk-width-large@s" type="password" name="password" id="password-input" placeholder="Admin Password" />
                </div>
                <br />
                <div class="uk-margin uk-text-center">
                    <input class="uk-button uk-button-large uk-button-primary uk-width-medium uk-margin-small-bottom" id="submit" name="submit" type="submit" value="Submit">
                </div>
            </fieldset>
        </form>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/style.js"></script>
<script type="text/javascript">
function disable(el) {
    var oldLabel = el.value;
    el.value = "Please Wait...";
    el.disabled = true;
}
</script>
{% endblock %}